<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samyu.demos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="Demos" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".xml.XmlActivity"
            android:label="@string/activity_xml_label" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.samyu.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".xml.Settings"
            android:label="@string/settings_title" >
        </activity>
        <activity
            android:name=".xml.ModuelSettings"
            android:label="@string/moduel_settings_title" >
        </activity>
        <activity
            android:name="com.samyu.demos.graphics.turnpage.TurnPage"
            android:label="@string/activity_turn_page_label" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.samyu.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.samyu.demos.graphics.carousel.main.CarouselActivity"
            android:label="@string/activity_carousel_label" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.samyu.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.samyu.demos.sample.NotificationSample"
            android:label="@string/activity_notification_label" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.samyu.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.samyu.demos.sample.OverlaySample"
            android:label="@string/activity_overlay_label" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.samyu.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.samyu.demos.sample.TextToSpeechSample"
            android:label="@string/activity_test_to_speech_label" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.samyu.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <service
            android:name="com.samyu.demos.sample.OverlayService">
        </service>
    </application>

</manifest>